<table id="productList" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th width="10%">序号</th>
			<th width="10%">供应商名称</th>
			<th width="10%">产品类型</th>
			<th width="10%">填报日期</th>
			<th width="15%">对比因子</th>
			<th width="15%">实际值</th>
			<th width="10%">指标结果</th>
			<th width="10%">指标数据</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="maunf,stat:${maunfacturerList}">
			<td th:text="${stat.count}">1</td>
			<td th:text="${maunf.maunfacturer.firmName}">供应商名称</td>
			<td th:text="${maunf.maunfacturer.product}">产品类型</td>
			<td th:text="${maunf.tagTime}">填报日期</td>
			<td th:text="1">对比因子</td>
			<td th:text="${stat.count}/10">实际值</td>
			<td th:switch="${stat.count}/10"><span th:case="1"> 通过 </span> <span th:case="0"> 通过 </span> <span th:case="*" style="color: red;"> 未通过 </span></td>
			<td><input type="button" onclick="alert('供应商填写数据详情')" style="color: blue;" value="详情"></td>
		</tr>
	</tbody>
</table>
