<table id="productList" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>厂商名称</th>
			<th>填报日期</th>
			<th>对标结果</th>
			<th>指标数据</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="maunf,stat:${maunfacturerList}">
			<td th:text="${maunf.maunfacturer.firmName}" style="text-align: center; vertical-align: middle;">供应商名称</td>
			<td th:text="${maunf.tagTime.substring(0,maunf.tagTime.lastIndexOf(' '))}">填报日期</td>
			<td th:switch="${maunf.ispass}"><span th:case="1">达标</span> <span th:case="-1" style="color: red;">不达标</span><span th:case="*" style="color: blue;"> / </span></td>
			<td><span class="btn btn-xs btn-info" data-toggle="modal" data-target="#ProductsModal" th:onclick="'showModal(\''+${maunf.data}+'\',\''+${maunf.ispass}+'\');'"><i class="fa fa-reorder">详情</i></span></td>
		</tr>
	</tbody>
</table>
<div class="modal fade" id="ProductsModal" tabindex="-1" role="dialog" aria-labelledby="ProductsModal" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="ProductsModalLabel">指标数据详情</h4>
			</div>
			<div class="modal-body">
				<div class="box-body">
					<table id="indexsList" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th width="15%">分类</th>
								<th width="10%">所属种类</th>
								<th width="10%">种类单位</th>
								<th width="10%">基准值</th>
								<th width="10%">计算值</th>
								<th width="10%">对标情况</th>
							</tr>
						</thead>
						<tbody id="tabtt">
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>
</div>


