<table class="display" style="width: 100%" id="res">
	<thead>
		<tr>
			<th colspan="6" style="text-align: center;">资源消耗</th>
		</tr>
		<tr style="border: 2px solid #EEEEEE;">
			<th>资源种类</th>
			<th>来源</th>
			<th>单位</th>
			<th>消耗量</th>
			<th>数据来源</th>
			<th>备注</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" class="form-control" name="name_4" value="新鲜水" readonly="readonly" /></td>
			<td><select class="form-control" name="water_4">
					<option value="44" selected="selected">自来水</option>
					<option value="45">井水</option>
			</select></td>
			<td><input type="text" class="form-control" name="unit_4" value="t" readonly="readonly" /></td>
			<td><input type="text" class="form-control" name="value_4" value="0" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"/></td>
			<td><input type="text" class="form-control" name="datasource_4" /></td>
			<td><input type="text" class="form-control" name="desc_4" /></td>
		</tr>
	</tbody>
</table>