<table class="display" style="width: 100%">
	<thead>
		<tr>
			<th><span class="btn btn-xs btn-info" data-toggle="modal" data-target="#HelpModal" onclick="showHelp()"><i class="fa fa-hand-stop-o">填写帮助</i></span></th>
		</tr>
		<tr>
			<th style="text-align: center;">厂商信息</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<div class="form-group">
					<!-- <div class="col-xs-2">供应商名称：</div> -->
					<label class="col-md-2 control-label">厂商名称：</label>
					<div class="col-md-3">
						<select name="username" id="firmUsername" class="form-control">
							<option class="form-control" th:each="maunf : ${mlist}" th:value="${maunf.username}" th:text="${maunf.firmName}"></option>
						</select>
					</div>
					<div class="col-md-2"></div>

					<label for="dtp_input3" class="col-md-2 control-label">申报年份:</label>
					<div class="input-group date form_time col-md-3" data-date="" data-date-format="yyyy" data-link-field="dtp_input3" data-link-format="yyyy">
						<input id="dateyear" class="form-control" size="16" type="text" value="2018" readonly> <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
					</div>
					<input type="hidden" id="dtp_input3" value="" /><br />
				</div>
			</td>
		</tr>
	</tbody>
</table>


<div class="modal fade" id="HelpModal" tabindex="-1" role="dialog" aria-labelledby="ProductsModal" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="HelpModalLabel">填写帮助</h4>
			</div>
			<div class="modal-body">
				<div class="box-body">
					<span> 1、供应商名称必须选择 <br> 2、申报年份根据公司实际情况写入<br> 3、填写"产量"、"消耗量"、"数量"的表格时只能填写数字，可以填写小数<br> 4、填写完成之后保存即可，若提示保存成功即完成填写
					</span>
				</div>

			</div>
		</div>

	</div>
</div>