<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrs.admin.dao.mapper.DataRecordMapper">
  <resultMap id="DataRecord" type="com.lrs.admin.dao.domain.DataRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="firm_id" jdbcType="INTEGER" property="firmId" />
    <result column="tag_time" jdbcType="VARCHAR" property="tagTime" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="classify_id" jdbcType="VARCHAR" property="classifyId" />
    <result column="product_volume" jdbcType="REAL" property="productVolume" />
    <result column="data_source" jdbcType="VARCHAR" property="dataSource" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="applicant_time" jdbcType="TIMESTAMP" property="applicantTime" />
  </resultMap>
  <insert id="insert" parameterType="com.lrs.admin.dao.domain.DataRecord">
    insert into data_record (firm_id, tag_time,
      category_id, classify_id, product_volume, 
      data_source, remark
      )
    values (#{firmId,jdbcType=INTEGER}, #{tagTime,jdbcType=INTEGER},
      #{categoryId,jdbcType=VARCHAR}, #{classifyId,jdbcType=VARCHAR}, #{productVolume,jdbcType=REAL}, 
      #{dataSource,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}}
      )
  </insert>

  <select id="selectGroupByFirmId" parameterType="java.lang.Integer">
      SELECT * FROM data_record GROUP BY firm_id, tag_time
  </select>

  <select id="selectDetailData" parameterMap="java.util.List">
      SELECT * FROM data_record WHERE firm_id = #{0}  AND tag_time = #{1}
  </select>
</mapper>