<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrs.admin.dao.mapper.DataRecordMapper">
  <resultMap id="DataRecord" type="com.lrs.admin.dao.domain.DataRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="firm_id" jdbcType="INTEGER" property="firmId" />
    <result column="tag_time" jdbcType="VARCHAR" property="tagTime" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="classify_id" jdbcType="VARCHAR" property="classifyId" />
    <result column="product_volume" jdbcType="DOUBLE" property="productVolume" />
    <result column="data_source" jdbcType="VARCHAR" property="dataSource" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="applicant_time" jdbcType="TIMESTAMP" property="applicantTime" />
    <result column="data_year" jdbcType="VARCHAR" property="dataYear" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
  </resultMap>
  <insert id="insert" parameterType="java.util.List">
    insert into data_record (firm_id, tag_time,
      category_id, classify_id, product_volume, 
      data_source, remark, data_year, data_type
      )
    values
    <foreach collection="list" item="item" index= "index" separator =",">
     (#{item.firmId,jdbcType=INTEGER}, #{item.tagTime,jdbcType=VARCHAR},
      #{item.categoryId,jdbcType=VARCHAR}, #{item.classifyId,jdbcType=VARCHAR}, #{item.productVolume,jdbcType=REAL},
      #{item.dataSource,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR}, #{item.dataYear,jdbcType=VARCHAR},
      #{item.dataType,jdbcType=INTEGER}
      )
    </foreach>
  </insert>

  <select id="selectGroupByFirmId" parameterType="java.lang.Integer" resultMap="DataRecord">
      SELECT * FROM data_record WHERE firm_id = #{arg0} GROUP BY firm_id, tag_time
  </select>

  <select id="selectGroupByFirmIdForOne" parameterType="java.lang.Integer" resultMap="DataRecord">
       SELECT * FROM (SELECT * FROM data_record WHERE firm_id = #{arg0} GROUP BY tag_time order by tag_time desc ) as t GROUP BY firm_id, data_year ORDER BY data_year desc;
  </select>

  <select id="selectDetailData" resultMap="DataRecord">
      SELECT * FROM data_record WHERE firm_id = #{arg0}  AND tag_time = #{arg1}
  </select>
  <select id="selectUniqueTag" resultMap="DataRecord">
    SELECT * FROM data_record GROUP BY  firm_id, tag_time
  </select>
  <delete id="delDataRecord" parameterType="java.lang.Integer">
    DELETE FROM data_record WHERE firm_id = #{0}
  </delete>
  <!--<update id="updateRecordData" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" separator=";" close="">
      UPDATE data_record SET product_volume = #{item.productVolume}, data_type = #{item.dataType}  WHERE id= #{item.id}
    </foreach>
  </update>-->
  <update id="updateRecordData" parameterType="com.lrs.admin.dao.domain.DataRecord">
    UPDATE data_record SET product_volume = #{productVolume}, data_type = #{dataType}  WHERE id= #{id}
  </update>
</mapper>