<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrs.admin.dao.mapper.MaunfacturerMapper">
  <resultMap id="BaseResultMap" type="com.lrs.admin.dao.domain.Maunfacturer">
    <id column="firm_id" jdbcType="INTEGER" property="firmId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="firm_name" jdbcType="VARCHAR" property="firmName" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="productid" jdbcType="VARCHAR" property="productid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="founding_time" jdbcType="TIMESTAMP" property="foundingTime" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
  </resultMap>
  <insert id="insert" parameterType="com.lrs.admin.dao.domain.Maunfacturer">
    insert into maunfacturer (username, password,
    firm_name, product, productid, address,
    phone, department, email,
    founding_time, register_time, update_time,
    `desc`, grade)
    values ( #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{firmName,jdbcType=VARCHAR}, #{product,jdbcType=VARCHAR},#{productId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR},
    #{phone,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
    #{foundingTime,jdbcType=TIMESTAMP}, #{registerTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
    #{desc,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}) ON  DUPLICATE KEY UPDATE password = #{password,jdbcType=VARCHAR},
    firm_name = #{firmName,jdbcType=VARCHAR},
    product = #{product,jdbcType=VARCHAR},
    productid = #{productId,jdbcType=INTEGER},
    address = #{address,jdbcType=VARCHAR},
    phone = #{phone,jdbcType=VARCHAR},
    department = #{department,jdbcType=VARCHAR},
    email = #{email,jdbcType=VARCHAR},
    founding_time = #{foundingTime,jdbcType=TIMESTAMP},
    register_time = #{registerTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    `desc` = #{desc,jdbcType=VARCHAR},
    grade = #{grade,jdbcType=INTEGER}
  </insert>
  <select id="selectUser" parameterType="String" resultMap="BaseResultMap">
    SELECT * FROM maunfacturer WHERE username = #{username}
  </select>
  <select id="selectByFirmId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM maunfacturer WHERE firm_id = #{0}
  </select>
  <update id="updatePassword" >
    UPDATE maunfacturer SET `password` = #{1} WHERE firm_id = #{0}
  </update>
</mapper>