<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrs.admin.dao.mapper.ProClassifyMapper">
  <resultMap id="ProClassifyMap" type="com.lrs.admin.dao.domain.ProClassify">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="classify_id" jdbcType="VARCHAR" property="classifyId" />
    <result column="classify_name" jdbcType="VARCHAR" property="classifyName" />
    <result column="classify_desc" jdbcType="VARCHAR" property="classifyDesc" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <insert id="insert" parameterType="com.lrs.admin.dao.domain.ProClassify">
    insert into pro_classify (classify_id, classify_name, classify_desc, 
      insert_time)
    values (#{classifyId,jdbcType=INTEGER}, #{classifyName,jdbcType=VARCHAR}, #{classifyDesc,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>

</mapper>