<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lrs.admin.dao.mapper.TransportRecordMapper" >
  <resultMap id="TransportRecordMap" type="com.lrs.admin.dao.domain.TransportRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="firm_id" property="firmId" jdbcType="INTEGER" />
    <result column="tag_time" property="tagTime" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
    <result column="transport_volume" property="transportVolume" jdbcType="REAL" />
    <result column="transport_distance" property="transportDistance" jdbcType="REAL" />
    <result column="is_load" property="isLoad" jdbcType="INTEGER" />
    <result column="applicant" property="applicant" jdbcType="VARCHAR" />
    <result column="applicant_time" property="applicantTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <update id="updateByPrimaryKey" parameterType="com.lrs.admin.dao.domain.TransportRecord" >
    update transport_record
    set firm_id = #{firmId,jdbcType=INTEGER},
      tag_time = #{tagTime,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=VARCHAR},
      transport_volume = #{transportVolume,jdbcType=REAL},
      transport_distance = #{transportDistance,jdbcType=REAL},
      is_load = #{isLoad,jdbcType=INTEGER},
      applicant = #{applicant,jdbcType=VARCHAR},
      applicant_time = #{applicantTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>