<aside th:fragment="admin-left" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less 菜单-->
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p th:text="${maunfacturer.username}">Admin</p>
                <a data-toggle="modal" data-target="#UserPassModal"
                   th:onclick="'update_user_id(\''+${maunfacturer.username}+'\',\''+${maunfacturer.firmId}+'\');'"
                   style="cursor: pointer"> <i class="dropdown-icon fa fa-cog"></i> &nbsp;&nbsp;修改密码
                </a> <a th:href="@{/logout}"> <i class="dropdown-icon fa fa-power-off"></i> &nbsp;&nbsp;退出
            </a>
            </div>
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">主导航</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">用户管理</span>
                    <span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a target="mainFrame" th:href="@{'/sys/find_all_user?username='+${maunfacturer.username}}">
                            <i class="fa fa-circle-o"></i>
                            <label>用户信息</label>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">厂商信息</span>
                    <span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a target="mainFrame"
                           th:href="@{'/firm/find_all_suppliers?username='+${maunfacturer.username}}">
                            <i class="fa fa-circle-o"></i>
                            <label>供应商</label>
                        </a>
                    </li>
                    <li>
                        <a target="mainFrame"
                           th:href="@{'/firm/find_all_recyclers?username='+${maunfacturer.username}}">
                            <i class="fa fa-circle-o"></i>
                            <label>回收商</label>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span class="nav-label">基础数据库</span>
                    <span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a target="mainFrame" th:href="@{'/resource/find_all_data?username='+${maunfacturer.username}}">
                            <i class="fa fa-circle-o"></i>
                            <label>基础数据</label>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>资源环境影响指标数据库<span></span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#"><i class="fa fa-circle-o"></i> 原料生产及运输
                            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li>
                                <a target="mainFrame"
                                   th:href="@{'/product/find_all_steel?username='+${maunfacturer.username}}">
                                    <i class="fa fa-circle-o"></i>
                                    <label>钢帘线</label>
                                </a>
                            </li>
                            <li>
                                <a target="mainFrame"
                                   th:href="@{'/product/find_all_sbr?username='+${maunfacturer.username}}">
                                    <i class="fa fa-circle-o"></i>
                                    <label>合成橡胶（丁苯橡胶）</label>
                                </a>
                            </li>
                            <li>
                                <a target="mainFrame"
                                   th:href="@{'/product/find_all_cis?username='+${maunfacturer.username}}">
                                    <i class="fa fa-circle-o"></i>
                                    <label>合成橡胶（顺丁橡胶）</label>
                                </a>
                            </li>
                            <li>
                                <a target="mainFrame"
                                   th:href="@{'/product/find_all_nylon?username='+${maunfacturer.username}}">
                                    <i class="fa fa-circle-o"></i>
                                    <label>尼龙帘布</label>
                                </a>
                            </li>
                            <li>
                                <a target="mainFrame"
                                   th:href="@{'/product/find_all_beadwire?username='+${maunfacturer.username}}">
                                    <i class="fa fa-circle-o"></i>
                                    <label>胎圈钢丝</label>
                                </a>
                            </li>
                            <li>
                                <a target="mainFrame"
                                   th:href="@{'/product/find_all_carbon?username='+${maunfacturer.username}}">
                                    <i class="fa fa-circle-o"></i>
                                    <label>炭黑</label>
                                </a>
                            </li>
                            <li>
                                <a target="mainFrame"
                                   th:href="@{'/product/find_all_nr?username='+${maunfacturer.username}}">
                                    <i class="fa fa-circle-o"></i>
                                    <label>天然橡胶</label>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-circle-o"></i> 轮胎生产及运输
                            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li>
                                <a target="mainFrame"
                                   th:href="@{'/product/find_all_mtyre?username='+${maunfacturer.username}}">
                                    <i class="fa fa-circle-o"></i>
                                    <label>子午线轮胎生产</label>
                                </a>
                            </li>
                            <li>
                                <a target="mainFrame"
                                   th:href="@{'/product/find_all_ttyre?username='+${maunfacturer.username}}">
                                    <i class="fa fa-circle-o"></i>
                                    <label>斜交线轮胎生产</label>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-circle-o"></i> 轮胎回收
                            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i></span></a>
                        <ul class="treeview-menu">
                            <li>
                                <a target="mainFrame"
                                   th:href="@{'/product/find_all_rr?username='+${maunfacturer.username}}">
                                    <i class="fa fa-circle-o"></i>
                                    <label>再生胶</label>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span class="nav-label">轮胎产品生命周期数据库</span>
                    <span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a target="mainFrame" href="http://139.129.103.57:8080/renren-admin/login.html">
                            <i class="fa fa-database"></i>
                            <label>生命周期数据库</label>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>