<!DOCTYPE html>
<html>
<head th:include="include/css-head :: css-head">
    <!--    <style type="text/css">
            .content {
                background-color: red;
            }
        </style>-->
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        首页
        <small>HOME</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">公司简介</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!--<h1>风神轮胎股份有限公司欢迎你</h1>-->
   <!--    <a target="mainFrame" th:href="/sys/find_all_user?username='admin'}" style="display: none">
           <i class="fa fa-circle-o">
               <button id="subBtn" type="button"></button>
           </i>
           <label>用户信息</label>
       </a>-->
      <div class="row" style="background: url('/images/main.jpg')">
        <br><br>
        <span></span><br>
        <br> <span></span> <br>
        <br>
        <span></span><br>
        <br> <span> </span> <br>
        <br>
        <span>  </span><br>
        <h2 style="text-align: center;"></h2>
        <br> <span> </span><br>
        <br> <span> </span> <br>
        <br>
        <span> </span><br>
        <br> <span> </span> <br>
        <br>
        <span>  </span><br>
        <br> <span> </span> <span></span> <br>
        <br>
        <span>  </span><br>
        <br> <span> </span>
        <br><br>
        <br><br>
        <br>
        <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->
</section>
<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/chart.js/Chart.js}"></script>
<script th:src="@{/bower_components/raphael/raphael.min.js}"></script>
<script th:src="@{/bower_components/fastclick/lib/fastclick.js}"></script>
<script th:src="@{/bower_components/morris.js/morris.min.js}"></script>
<script th:src="@{/bower_components/Flot/jquery.flot.js}"></script>
<script th:src="@{/bower_components/Flot/jquery.flot.resize.js}"></script>
<script th:src="@{/bower_components/Flot/jquery.flot.pie.js}"></script>
<script th:src="@{/bower_components/Flot/jquery.flot.categories.js}"></script>
<script th:src="@{/js/demochart.js}"></script>

</body>
<script type="text/javascript">
    var _ctx1 = $("meta[name='_ctx']").attr("content");
    _ctx1 = _ctx.substr(0, _ctx.length - 1);
/*    $(function () {
        $("#subBtn").trigger("click");
    });*/
</script>
</html>
