<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="_ctx" th:content="@{/}" />
<title>基于天然橡胶的绿色轮胎供应链全生命周期资源环境信息数据库管理系统</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}">
<link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">
<link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}">
<link rel="stylesheet" th:href="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}">

<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic}">

<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/logo.png}">
</head>
<script type="text/javascript">
	//iframe 自适应
	function setIframeHeight(iframe) {
		if (iframe) {
			var iframeWin = iframe.contentWindow
					|| iframe.contentDocument.parentWindow;
			if (iframeWin.document.body) {
				iframe.height = iframeWin.document.documentElement.scrollHeight
						|| iframeWin.document.body.scrollHeight;
			}
		}
	};

	window.onload = function() {
		setIframeHeight(document.getElementById('mainBodyFrame'));
	};
</script>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">


		<!-- 头部 -->
		<header th:include="include/header :: admin-header" class="main-header"> </header>
		<!-- 左边 -->
		<aside th:include="include/left :: admin-left" class="main-sidebar"></aside>

		<div class="content-wrapper">
			<!-- 主体部分！！！！ -->
			<!-- <iframe name="mainFrame" id="mainBodyFrame" th:src="@{/include/main}" frameborder="0" scrolling="no" width="100%" onload="setIframeHeight(this)" seamless></iframe> -->
			<iframe name="mainFrame" id="mainBodyFrame" th:src="@{/include/main}" frameborder="0" scrolling="no" width="100%"></iframe>
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; 2018 <a href="www.baidu.com">九九辰</a>.
			</strong> All rights reserved.
		</footer>

		<!-- Control Sidebar 工具栏 -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Create the tabs -->
			<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
				<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
				<li><a href="#control-sidebar-stats-tab" data-toggle="tab"><i class="fa fa-hand-peace-o"></i></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- Home tab content -->
				<div class="tab-pane" id="control-sidebar-home-tab">
					<!-- /.control-sidebar-menu -->

				</div>
				<!-- /.tab-pane -->
				<!-- Stats tab content -->
				<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
				<!-- /.tab-pane -->
				<!-- Settings tab content -->
				<div class="tab-pane" id="control-sidebar-settings-tab"></div>
				<!-- /.tab-pane -->
			</div>
		</aside>
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>

	<!-- 模态框（Modal） -->
	<div class="modal fade" id="UserPassModal" tabindex="-1" role="dialog" aria-labelledby="UserPassModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="UserModalLabel">用户密码修改</h4>
				</div>
				<div class="modal-body">
					<form action="" method="post">
						<input type="hidden" class="form-control" placeholder="用户ID" id="update_firm_id" />
						<div class="row form-group">
							<div class="col-xs-3">用户名：</div>
							<div class="col-xs-9">
								<input type="text" class="form-control" id="firm_username" readonly="readonly" />
							</div>
						</div>
						<div class="row form-group">
							<div class="col-xs-3">旧密码：</div>
							<div class="col-xs-9">
								<input type="password" class="form-control" id="old_firm_password" />
							</div>
						</div>
						<div class="row form-group">
							<div class="col-xs-3">新密码：</div>
							<div class="col-xs-9">
								<input type="password" class="form-control" id="new_firm_password1" />
							</div>
						</div>
						<div class="row form-group">
							<div class="col-xs-3">确认密码：</div>
							<div class="col-xs-9">
								<input type="password" class="form-control" id="new_firm_password2" />
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="firm_update_password">提交</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>



	<!-- ./wrapper -->


	<!-- jQuery 3 -->
	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<!-- jQuery UI 1.11.4 -->
	<script th:src="@{/bower_components/jquery-ui/jquery-ui.min.js}"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button);
	</script>
	<!-- Bootstrap 3.3.7 -->
	<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- Bootstrap WYSIHTML5 -->
	<script th:src="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
	<!-- Slimscroll -->
	<script th:src="@{/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<!-- FastClick -->
	<script th:src="@{/bower_components/fastclick/lib/fastclick.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/dist/js/adminlte.min.js}"></script>
	<!-- AdminLTE for demo purposes -->
	<script th:src="@{/dist/js/demo.js}"></script>

	<!-- 引用自定义的js文件操作index页面的按钮 -->
	<script th:src="@{/js/user/index.js}"></script>
	<script th:src="@{/js/path.js}"></script>
</body>
</html>
