<!DOCTYPE html>
<html>
<head th:include="include/css-head :: css-head">
</head>
<body>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>基于天然橡胶的绿色轮胎供应链生命周期资源环境信息数据库</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>原料生产及运输</a></li>
			<li class="active">炭黑</li>
		</ol>
	</section>



	<!-- Main content -->
	<section class="content">
		<div class="box-header">
			<h3 class="box-title">炭黑数据填报列表</h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-success btn-sm" id="addCarbons" data-toggle="modal" data-target="#AddModal">
				<i class="fa fa-plus"></i> &nbsp;&nbsp;新增炭黑供应数据
			</button>
		</div>
		<!-- /.box-header -->
		<!-- 引入主页面 -->
		<div th:include="/product/public/box-body" class="box-body"></div>
	</section>

	<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
		<div class="modal-dialog" style="width: 100%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="ModalLabel">新增炭黑产品数据</h4>
				</div>
				<div class="modal-body">
					<!-- 引入供应商信息组件 -->
					<form th:include="/product/public/suppliers_form" action=""></form>

					<!-- 引入产品产出的组件table pro-->
					<form th:include="/product/public/product_form" action="" id="save_pro"></form>
					<br> <br>

					<!-- 引入原辅助料消耗的tbale rmc -->
					<form action="" id="save_rmc" th:include="/product/public/rmc_form"></form>
					<br> <br>

					<!-- 引入资源消耗组件table res -->
					<form action="" id="save_res" th:include="/product/public/res_form"></form>
					<br> <br>

					<!-- 引入能源消耗组件table energy -->
					<form action="" id="save_energy" th:include="/product/public/energy_form"></form>
					<br> <br>

					<!-- 引入污染物排放组件table gas 之废气排放 -->
					<form action="" id="save_natural_gas" th:include="/product/public/gas_form"></form>

					<!-- 引入污染物排放table water 之废水排放 -->
					<form action="" id="save_pick_water" th:include="/product/public/water_form"></form>
					<br> <br>

					<!-- 运输过程tbale trans_pro -->
					<form action="" id="save_trans_pro" th:include="/product/public/trans_form"></form>
					<br> <br>

					<div class="row">
						<div class="col-xs-5"></div>
						<div class="col-xs-1">
							<input type="button" id="carbon_save_btn" class="btn btn-primary" onclick="save_carbons();" value="提交" />
						</div>
						<div class="col-xs-1">
							<button type="button" class="btn btn-primary " data-dismiss="modal">关闭</button>
						</div>
						<div class="col-xs-5"></div>

					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>

	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
	
	  <!-- datetimepicker插件 -->
	<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
	<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js}"></script>
  
	<!-- AdminLTE App -->
	<script th:src="@{/dist/js/adminlte.min.js}"></script>
	<script th:src="@{/js/path.js}"></script>
	<script th:src="@{/js/product/public.js}"></script>
	<script type="text/javascript">
		$(function() {
	        $('#pick_water').mergeCell({
		        cols : [ 0 ]
	        });

	        $('#natural_gas').mergeCell({
		        cols : [ 0 ]
	        });
	        $('#productList').mergeCell({
		        cols : [ 0 ]
	        });

        });
	</script>

</body>
</html>