<!DOCTYPE html>
<html>
<head th:include="include/css-head :: css-head">

</head>
<body>
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>基于天然橡胶的绿色轮胎供应链生命周期资源环境信息数据库</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>资源环境影响</a></li>
			<li class="active">基础数据</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box-header">
			<h3 class="box-title">基础数据填报列表</h3>
		</div>
		<!-- /.box-header -->
		<table id="dataList" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th width="5%">序号</th>
					<th width="20%">厂商名称</th>
					<th width="10%">申报年份</th>
					<th width="10%">填报日期</th>
					<th width="10%">填报数据</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="res,stat:${resourceData}">
					<td th:text="${stat.count}">1</td>
					<td th:text="${res.manu.firmName}">供应商名称</td>
					<td th:text="${res.dataYear}">申报年份</td>
					<td th:text="${res.tagTime}">填报日期</td>
					<td><span class="btn btn-xs btn-info" data-toggle="modal" data-target="#BasicDataModal" th:onclick="'showBasicDataModal(\''+${res.records}+'\',\''+${res.manu}+'\');'"><i class="fa fa-reorder">详情</i></span></td>

				</tr>
			</tbody>
		</table>

	</section>


	<!-- 模态框（Modal） -->
	<div class="modal fade" id="BasicDataModal" tabindex="-1" role="dialog" aria-labelledby="BasicDataModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="BasicDataModalLabel">基础数据详情</h4>
				</div>
				<div class="modal-body">
					<div class="box-body" id="BasicData"></div>
				</div>


				<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
				<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
				<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
				<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>

				<!-- datetimepicker插件 -->
				<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
				<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js}"></script>
				<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.fr.js}"></script>


				<!-- AdminLTE App -->
				<script th:src="@{/dist/js/adminlte.min.js}"></script>
				<script th:src="@{/js/path.js}"></script>
				<script th:src="@{/js/resource/basicdata.js}"></script>
</body>
</html>